USE [DynamicsPortalStylo]
GO
/****** Object:  User [IIS APPPOOL\DynamicsPortal]    Script Date: 4/20/2021 4:22:14 PM ******/
CREATE USER [IIS APPPOOL\DynamicsPortal] FOR LOGIN [IIS APPPOOL\DynamicsPortal] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DynamicsPortal]
GO
/****** Object:  Table [dbo].[SysAuditTrails]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysAuditTrails](
	[ActionItem] [nvarchar](50) NOT NULL,
	[TableName] [nvarchar](60) NOT NULL,
	[RecordRecId] [bigint] NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SysAuditTrails_1] PRIMARY KEY CLUSTERED 
(
	[RecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysCompanyInfo]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysCompanyInfo](
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](160) NULL,
	[Description] [nvarchar](160) NULL,
	[DateFormat] [nvarchar](12) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[TimeZone] [nvarchar](50) NULL,
	[CompanyLogo] [bit] NULL,
	[TaxRegNum] [nvarchar](50) NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[DataAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysLicenceType]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLicenceType](
	[LicenseType] [tinyint] NOT NULL,
	[License] [nvarchar](50) NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SysLicenceType] PRIMARY KEY CLUSTERED 
(
	[LicenseType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysMenu]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMenu](
	[MenuId] [nvarchar](50) NOT NULL,
	[ParentMenuId] [nvarchar](50) NULL,
	[ModuleId] [nvarchar](50) NOT NULL,
	[Label] [nvarchar](120) NOT NULL,
	[Image] [nvarchar](50) NULL,
	[Sequence] [smallint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SysMenu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC,
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysMenuItemLicenses]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysMenuItemLicenses](
	[MenuItemId] [nvarchar](50) NOT NULL,
	[LicenseType] [tinyint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_sysMenuItemLicenses] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC,
	[LicenseType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysMenuItems]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMenuItems](
	[MenuItemId] [nvarchar](50) NOT NULL,
	[Label] [nvarchar](120) NOT NULL,
	[ToolTip] [nvarchar](120) NULL,
	[Type] [tinyint] NOT NULL,
	[Object] [nvarchar](120) NOT NULL,
	[ModuleId] [nvarchar](50) NOT NULL,
	[Visible] [bit] NOT NULL,
	[Sequence] [smallint] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SysMenuItems_1] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysMenuItemsMenus]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMenuItemsMenus](
	[MenuId] [nvarchar](50) NOT NULL,
	[MenuItemId] [nvarchar](50) NOT NULL,
	[ModuleId] [nvarchar](50) NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysMenuItemTypes]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMenuItemTypes](
	[Type] [tinyint] NOT NULL,
	[Description] [nvarchar](10) NULL,
 CONSTRAINT [PK_SysMenuItemTypes] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysModules]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysModules](
	[ModuleId] [nvarchar](50) NOT NULL,
	[Label] [nvarchar](50) NOT NULL,
	[Image] [image] NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SysModules] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysPartition]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysPartition](
	[PartitionId] [bigint] NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[UsersLimit] [int] NOT NULL,
	[CompaniesLimit] [tinyint] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Partition] PRIMARY KEY CLUSTERED 
(
	[PartitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysPartitionModules]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysPartitionModules](
	[ModuleId] [nvarchar](50) NOT NULL,
	[PartitionId] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SysPartitionModules] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC,
	[PartitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysRoleMenuItems]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRoleMenuItems](
	[MenuItemId] [nvarchar](50) NOT NULL,
	[RoleId] [nvarchar](50) NOT NULL,
	[LicenseType] [tinyint] NOT NULL,
	[AccessLevel] [tinyint] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_RoleMenuItems] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC,
	[RoleId] ASC,
	[LicenseType] ASC,
	[DataAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysRoles]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRoles](
	[RoleId] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[LicenseType] [tinyint] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CompanyRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[LicenseType] ASC,
	[DataAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserAuditTrailDetails]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserAuditTrailDetails](
	[Field] [nvarchar](50) NOT NULL,
	[NewValue] [nvarchar](100) NULL,
	[OldValue] [nvarchar](100) NULL,
	[LastModifiedBy] [nvarchar](50) NULL,
	[LastModifiedDateTime] [datetime] NULL,
	[RefRecId] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SysUserAuditTrailDetails] PRIMARY KEY CLUSTERED 
(
	[RecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserAuditTrails]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserAuditTrails](
	[UserId] [nvarchar](8) NOT NULL,
	[ActionDateTime] [datetime] NOT NULL,
	[RefRecId] [bigint] NOT NULL,
	[ActionResult] [bit] NOT NULL,
	[ActionMessage] [nvarchar](200) NULL,
	[ActionType] [nvarchar](10) NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SysUserAuditTrails] PRIMARY KEY CLUSTERED 
(
	[RecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserCompanies]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserCompanies](
	[UserId] [nvarchar](8) NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UserCompanies] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[DataAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserInfo]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserInfo](
	[UserId] [nvarchar](8) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
	[DefaultCompany] [nvarchar](4) NULL,
	[LicenseType] [tinyint] NOT NULL,
	[Image] [image] NULL,
	[Status] [bit] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserLogin]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserLogin](
	[UserId] [nvarchar](8) NOT NULL,
	[Attempts] [int] NOT NULL,
	[AttemptStatus] [bit] NOT NULL,
	[AttemptTime] [datetime] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AttemptTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserMenuItems]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserMenuItems](
	[RoleId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](8) NOT NULL,
	[MenuItemId] [nvarchar](50) NOT NULL,
	[LicenseType] [tinyint] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UserMenuItems] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC,
	[MenuItemId] ASC,
	[LicenseType] ASC,
	[DataAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserQuickLinks]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserQuickLinks](
	[UserId] [nvarchar](8) NOT NULL,
	[MenuItemId] [nvarchar](50) NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UserQuickLinks] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MenuItemId] ASC,
	[DataAreaId] ASC,
	[Partition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserRecentMenuItems]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserRecentMenuItems](
	[UserId] [nvarchar](8) NOT NULL,
	[MenuItemId] [nvarchar](50) NOT NULL,
	[VisitDateTime] [datetime] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UserRecentConfigs] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MenuItemId] ASC,
	[DataAreaId] ASC,
	[Partition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUserRoles]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserRoles](
	[UserId] [nvarchar](8) NOT NULL,
	[RoleId] [nvarchar](50) NOT NULL,
	[LicenseType] [tinyint] NOT NULL,
	[RecVersion] [int] NOT NULL,
	[ModifiedDateTime] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](8) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](8) NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[Partition] [bigint] NOT NULL,
	[RecId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UserRoles_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC,
	[LicenseType] ASC,
	[DataAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[SysCompanyInfo] ON
INSERT [dbo].[SysCompanyInfo] ([DataAreaId], [Name], [FullName], [Description], [DateFormat], [Language], [TimeZone], [CompanyLogo], [TaxRegNum], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [Partition], [RecId]) VALUES (N'SPL', N'SPL', N'SPL', N'SPL', N'dd/mm/yyyy', N'en-us', NULL, NULL, NULL, 1, CAST(N'2019-01-29T11:58:12.000' AS DateTime), N'', CAST(N'2019-01-29T11:58:12.000' AS DateTime), N'', 5637144576, 2)
SET IDENTITY_INSERT [dbo].[SysCompanyInfo] OFF
SET IDENTITY_INSERT [dbo].[SysLicenceType] ON 

INSERT [dbo].[SysLicenceType] ([LicenseType], [License], [RecId]) VALUES (1, N'ESS', 1)
INSERT [dbo].[SysLicenceType] ([LicenseType], [License], [RecId]) VALUES (2, N'MSS', 2)
INSERT [dbo].[SysLicenceType] ([LicenseType], [License], [RecId]) VALUES (3, N'Admin', 3)
SET IDENTITY_INSERT [dbo].[SysLicenceType] OFF
SET IDENTITY_INSERT [dbo].[SysMenu] ON 

INSERT [dbo].[SysMenu] ([MenuId], [ParentMenuId], [ModuleId], [Label], [Image], [Sequence], [RecId]) VALUES (N'Admin', N'', N'Admin', N'Administration', N'mdi mdi-account-multiple', 4, 1)
INSERT [dbo].[SysMenu] ([MenuId], [ParentMenuId], [ModuleId], [Label], [Image], [Sequence], [RecId]) VALUES (N'HR', N'', N'ESS', N'Human Resource', N'mdi mdi-account-multiple', 0, 2)
INSERT [dbo].[SysMenu] ([MenuId], [ParentMenuId], [ModuleId], [Label], [Image], [Sequence], [RecId]) VALUES (N'Payroll', N'', N'ESS', N'Payroll', N'mdi mdi-cash-multiple', 1, 3)
SET IDENTITY_INSERT [dbo].[SysMenu] OFF
SET IDENTITY_INSERT [dbo].[sysMenuItemLicenses] ON 

INSERT [dbo].[sysMenuItemLicenses] ([MenuItemId], [LicenseType], [RecId]) VALUES (N'ESSAPDailyGroomingAppraisalsAssignedToMeHistory', 1, 20032)
INSERT [dbo].[sysMenuItemLicenses] ([MenuItemId], [LicenseType], [RecId]) VALUES (N'ESSAPEmployeeAppraisalsAssignedToMeHistory', 1, 1)
INSERT [dbo].[sysMenuItemLicenses] ([MenuItemId], [LicenseType], [RecId]) VALUES (N'ESSDocumentAttachment', 1, 38)
SET IDENTITY_INSERT [dbo].[sysMenuItemLicenses] OFF
SET IDENTITY_INSERT [dbo].[SysMenuItems] ON 

INSERT [dbo].[SysMenuItems] ([MenuItemId], [Label], [ToolTip], [Type], [Object], [ModuleId], [Visible], [Sequence], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [RecId]) VALUES (N'ESSAPDailyGroomingAppraisalsAssignedToMeHistory', N'Daily Grooming Appraisals Assigned To Me', N'Daily Grooming Appraisals Assigned To Me', 1, N'/ESS/HR/ESSAPDailyGroomingAppraisalsAssignedToMe_ListPage.aspx', N'ESS', 1, 0, 1, CAST(N'2019-02-27T09:36:50.000' AS DateTime), N'su.admin', CAST(N'2019-02-27T09:36:50.000' AS DateTime), N'su.admin', 30066)
INSERT [dbo].[SysMenuItems] ([MenuItemId], [Label], [ToolTip], [Type], [Object], [ModuleId], [Visible], [Sequence], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [RecId]) VALUES (N'ESSAPEmployeeAppraisalsAssignedToMeHistory', N'Employee Appraisals Assigned To Me', N'Employee Appraisals Assigned To Me', 1, N'/ESS/HR/ESSAPEmployeeAppraisalsAssignedToMe_ListPage.aspx', N'ESS', 1, 0, 1, CAST(N'2019-01-29T12:08:37.000' AS DateTime), N'su.admin', CAST(N'2019-01-29T12:08:37.000' AS DateTime), N'su.admin', 33)
INSERT [dbo].[SysMenuItems] ([MenuItemId], [Label], [ToolTip], [Type], [Object], [ModuleId], [Visible], [Sequence], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [RecId]) VALUES (N'ESSDocumentAttachment', N'Document Attachments', N'Document Attachments', 1, N'/ESS/ESSDocumentAttachment.aspx', N'ESS', 0, 0, 1, CAST(N'2019-02-11T11:17:51.000' AS DateTime), N'su.admin', CAST(N'2019-02-11T11:17:51.000' AS DateTime), N'su.admin', 70)
SET IDENTITY_INSERT [dbo].[SysMenuItems] OFF
SET IDENTITY_INSERT [dbo].[SysMenuItemsMenus] ON 

INSERT [dbo].[SysMenuItemsMenus] ([MenuId], [MenuItemId], [ModuleId], [RecId]) VALUES (N'HR', N'ESSHRRejoiningRequest', N'ESS', 1)
INSERT [dbo].[SysMenuItemsMenus] ([MenuId], [MenuItemId], [ModuleId], [RecId]) VALUES (N'HR', N'ESSHRRejoiningHistory', N'ESS', 2)
INSERT [dbo].[SysMenuItemsMenus] ([MenuId], [MenuItemId], [ModuleId], [RecId]) VALUES (N'HR', N'ESSHRProfessionChangeRequest', N'ESS', 3)
SET IDENTITY_INSERT [dbo].[SysMenuItemsMenus] OFF
INSERT [dbo].[SysMenuItemTypes] ([Type], [Description]) VALUES (1, N'Page')
INSERT [dbo].[SysMenuItemTypes] ([Type], [Description]) VALUES (2, N'Page Popup')
INSERT [dbo].[SysMenuItemTypes] ([Type], [Description]) VALUES (3, N'Report')
SET IDENTITY_INSERT [dbo].[SysModules] ON 

INSERT [dbo].[SysModules] ([ModuleId], [Label], [Image], [RecId]) VALUES (N'Admin', N'Admin', NULL, 1)
INSERT [dbo].[SysModules] ([ModuleId], [Label], [Image], [RecId]) VALUES (N'ESS', N'Employee Self Service', NULL, 2)
INSERT [dbo].[SysModules] ([ModuleId], [Label], [Image], [RecId]) VALUES (N'MSS', N'Manager Self Service', NULL, 3)
SET IDENTITY_INSERT [dbo].[SysModules] OFF
SET IDENTITY_INSERT [dbo].[SysPartition] ON 

INSERT [dbo].[SysPartition] ([PartitionId], [Name], [UsersLimit], [CompaniesLimit], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [RecId]) VALUES (5637144576, N'IDEAS', 300, 5, 1, CAST(N'2019-01-29T11:56:32.000' AS DateTime), N'?', CAST(N'2019-01-29T11:56:32.000' AS DateTime), N'?', 1)
SET IDENTITY_INSERT [dbo].[SysPartition] OFF
SET IDENTITY_INSERT [dbo].[SysPartitionModules] ON 

INSERT [dbo].[SysPartitionModules] ([ModuleId], [PartitionId], [RecId]) VALUES (N'Admin', 5637144576, 1)
INSERT [dbo].[SysPartitionModules] ([ModuleId], [PartitionId], [RecId]) VALUES (N'ESS', 5637144576, 2)
INSERT [dbo].[SysPartitionModules] ([ModuleId], [PartitionId], [RecId]) VALUES (N'MSS', 5637144576, 3)
SET IDENTITY_INSERT [dbo].[SysPartitionModules] OFF
SET IDENTITY_INSERT [dbo].[SysRoleMenuItems] ON 

INSERT [dbo].[SysRoleMenuItems] ([MenuItemId], [RoleId], [LicenseType], [AccessLevel], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'ESSAPDailyGroomingAppraisalsAssignedToMeHistory', N'BM', 1, 2, 1, CAST(N'2019-02-27T10:16:45.000' AS DateTime), N'?', CAST(N'2019-02-27T10:16:45.000' AS DateTime), N'?', N'SPL', 5637144576, 20065)
INSERT [dbo].[SysRoleMenuItems] ([MenuItemId], [RoleId], [LicenseType], [AccessLevel], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'ESSAPEmployeeAppraisalsAssignedToMeHistory', N'ESS', 1, 2, 3, CAST(N'2019-04-02T17:22:40.293' AS DateTime), N'su.admin', CAST(N'2019-01-29T12:11:08.000' AS DateTime), N'', N'SPL', 5637144576, 1)
INSERT [dbo].[SysRoleMenuItems] ([MenuItemId], [RoleId], [LicenseType], [AccessLevel], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'ESSDocumentAttachment', N'ESS', 1, 2, 1, CAST(N'2019-02-11T11:23:07.000' AS DateTime), N'', CAST(N'2019-02-11T11:23:07.000' AS DateTime), N'', N'SPL', 5637144576, 77)
SET IDENTITY_INSERT [dbo].[SysRoleMenuItems] OFF
SET IDENTITY_INSERT [dbo].[SysRoles] ON 

INSERT [dbo].[SysRoles] ([RoleId], [Description], [LicenseType], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'Admin', N'Admin', 3, 1, CAST(N'2019-01-29T11:59:55.000' AS DateTime), N'su.admin', CAST(N'2019-01-29T11:59:55.000' AS DateTime), N'su.admin', N'SPL', 5637144576, 2)
INSERT [dbo].[SysRoles] ([RoleId], [Description], [LicenseType], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'BM', N'Branch Manager', 1, 0, CAST(N'2019-04-02T16:01:34.870' AS DateTime), N'su.admin', CAST(N'2019-04-02T16:01:34.870' AS DateTime), N'su.admin', N'SPL', 5637144576, 16)
INSERT [dbo].[SysRoles] ([RoleId], [Description], [LicenseType], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'ESS', N'Employee Self Service', 1, 1, CAST(N'2019-01-29T11:59:56.000' AS DateTime), N'su.admin', CAST(N'2019-01-29T11:59:56.000' AS DateTime), N'su.admin', N'SPL', 5637144576, 4)
SET IDENTITY_INSERT [dbo].[SysRoles] OFF
SET IDENTITY_INSERT [dbo].[SysUserCompanies] ON 

INSERT [dbo].[SysUserCompanies] ([UserId], [DataAreaId], [Status], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [Partition], [RecId]) VALUES (N'su.admin', N'SPL', 1, 1, CAST(N'2019-01-29T12:00:36.000' AS DateTime), N'?', CAST(N'2019-01-29T12:00:36.000' AS DateTime), N'?', 5637144576, 4)
SET IDENTITY_INSERT [dbo].[SysUserCompanies] OFF
SET IDENTITY_INSERT [dbo].[SysUserInfo] ON 

INSERT [dbo].[SysUserInfo] ([UserId], [UserName], [Password], [EmployeeId], [DefaultCompany], [LicenseType], [Image], [Status], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [Partition], [RecId]) VALUES (N'su.admin', N'Abrar Ahmad', N'LAmgd2eOrGV3JeK2tVictZkQvXJ6pFZFEJZBs2Vy0iF9IYmfOQsXnRnKL6eM/28zsQ6Me6Fu5KMP8WakDKf96Q==', N'000014405', N'SPL', 1, NULL, 1, 3, CAST(N'2019-07-06T12:43:45.750' AS DateTime), N'su.admin', CAST(N'2019-01-29T11:59:25.000' AS DateTime), N'', 5637144576, 1)
SET IDENTITY_INSERT [dbo].[SysUserInfo] OFF
SET IDENTITY_INSERT [dbo].[SysUserQuickLinks] ON 

INSERT [dbo].[SysUserQuickLinks] ([UserId], [MenuItemId], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'su.admin', N'ESSHRBusinessTripHistory', 1, CAST(N'2019-02-13T16:16:16.967' AS DateTime), N'su.admin', CAST(N'2019-02-13T16:16:16.967' AS DateTime), N'su.admin', N'SPL', 5637144576, 1)
INSERT [dbo].[SysUserQuickLinks] ([UserId], [MenuItemId], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'su.admin', N'ESSHRHelpDeskRequestHistory', 1, CAST(N'2019-02-12T17:50:36.160' AS DateTime), N'su.admin', CAST(N'2019-02-12T17:50:36.160' AS DateTime), N'su.admin', N'SPL', 5637144576, 2)
INSERT [dbo].[SysUserQuickLinks] ([UserId], [MenuItemId], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'su.admin', N'ESSHRPoliciesProcedures', 1, CAST(N'2019-02-12T13:48:07.837' AS DateTime), N'su.admin', CAST(N'2019-02-12T13:48:07.837' AS DateTime), N'su.admin', N'SPL', 5637144576, 3)
SET IDENTITY_INSERT [dbo].[SysUserQuickLinks] OFF
SET IDENTITY_INSERT [dbo].[SysUserRoles] ON 

INSERT [dbo].[SysUserRoles] ([UserId], [RoleId], [LicenseType], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'su.admin', N'Admin', 3, 1, CAST(N'2019-01-29T12:01:49.000' AS DateTime), N'', CAST(N'2019-01-29T12:01:49.000' AS DateTime), N'', N'SPL', 5637144576, 1)
INSERT [dbo].[SysUserRoles] ([UserId], [RoleId], [LicenseType], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'su.admin', N'BM', 1, 1, CAST(N'2019-05-21T12:02:53.000' AS DateTime), N'?', CAST(N'2019-05-21T12:02:53.000' AS DateTime), N'?', N'SPL', 5637144576, 2)
INSERT [dbo].[SysUserRoles] ([UserId], [RoleId], [LicenseType], [RecVersion], [ModifiedDateTime], [ModifiedBy], [CreatedDateTime], [CreatedBy], [DataAreaId], [Partition], [RecId]) VALUES (N'su.admin', N'ESS', 1, 1, CAST(N'2019-01-29T12:01:49.000' AS DateTime), N'', CAST(N'2019-01-29T12:01:49.000' AS DateTime), N'', N'SPL', 5637144576, 3)
SET IDENTITY_INSERT [dbo].[SysUserRoles] OFF
/****** Object:  Index [IX_AuditTrails]    Script Date: 4/20/2021 4:22:15 PM ******/
ALTER TABLE [dbo].[SysAuditTrails] ADD  CONSTRAINT [IX_AuditTrails] UNIQUE NONCLUSTERED 
(
	[RecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAuditTrails]    Script Date: 4/20/2021 4:22:15 PM ******/
ALTER TABLE [dbo].[SysUserAuditTrails] ADD  CONSTRAINT [IX_UserAuditTrails] UNIQUE NONCLUSTERED 
(
	[RecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SysAuditTrails] ADD  CONSTRAINT [DF__SysAudit__DataA__656C112C]  DEFAULT ('SPL') FOR [DataAreaId]
GO
ALTER TABLE [dbo].[SysAuditTrails] ADD  CONSTRAINT [DF__SysAudit__Parti__66603565]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysCompanyInfo] ADD  CONSTRAINT [DF__CompanyIn__RecVe__7EC1CEDB]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysCompanyInfo] ADD  CONSTRAINT [DF__CompanyIn__Modif__7FB5F314]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysCompanyInfo] ADD  CONSTRAINT [DF__CompanyIn__Modif__00AA174D]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysCompanyInfo] ADD  CONSTRAINT [DF__CompanyIn__Creat__019E3B86]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysCompanyInfo] ADD  CONSTRAINT [DF__CompanyIn__Creat__02925FBF]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysCompanyInfo] ADD  CONSTRAINT [DF__CompanyIn__Parti__038683F8]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysMenu] ADD  CONSTRAINT [DF_SysMenu_Sequence]  DEFAULT ((0)) FOR [Sequence]
GO
ALTER TABLE [dbo].[SysMenuItems] ADD  CONSTRAINT [DF_MenuItems_RecVersion]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysMenuItems] ADD  CONSTRAINT [DF_MenuItems_ModifiedDateTime]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysMenuItems] ADD  CONSTRAINT [DF_MenuItems_ModifiedBy]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysMenuItems] ADD  CONSTRAINT [DF_MenuItems_CreatedDateTime]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysMenuItems] ADD  CONSTRAINT [DF_MenuItems_CreatedBy]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysPartition] ADD  CONSTRAINT [DF__Partition__Parti__0A888742]  DEFAULT ((5637144576.)) FOR [PartitionId]
GO
ALTER TABLE [dbo].[SysPartition] ADD  CONSTRAINT [DF__Partition__RecVe__05C3D225]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysPartition] ADD  CONSTRAINT [DF__Partition__Modif__06B7F65E]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysPartition] ADD  CONSTRAINT [DF__Partition__Modif__07AC1A97]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysPartition] ADD  CONSTRAINT [DF__Partition__Creat__08A03ED0]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysPartition] ADD  CONSTRAINT [DF__Partition__Creat__09946309]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysRoleMenuItems] ADD  CONSTRAINT [DF_SysRoleMenuItems_AccessLevel]  DEFAULT ((0)) FOR [AccessLevel]
GO
ALTER TABLE [dbo].[SysRoleMenuItems] ADD  CONSTRAINT [DF__RoleConfi__RecVe__77574DEB]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysRoleMenuItems] ADD  CONSTRAINT [DF__RoleConfi__Modif__7386BD07]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysRoleMenuItems] ADD  CONSTRAINT [DF__RoleConfi__Modif__747AE140]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysRoleMenuItems] ADD  CONSTRAINT [DF__RoleConfi__Creat__756F0579]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysRoleMenuItems] ADD  CONSTRAINT [DF__RoleConfi__Creat__766329B2]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysRoleMenuItems] ADD  CONSTRAINT [DF__RoleConfi__DataA__793F965D]  DEFAULT ('SPL') FOR [DataAreaId]
GO
ALTER TABLE [dbo].[SysRoleMenuItems] ADD  CONSTRAINT [DF__RoleConfi__Parti__784B7224]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysRoles] ADD  CONSTRAINT [DF__CompanyRo__RecVe__0662F0A3]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysRoles] ADD  CONSTRAINT [DF__CompanyRo__Modif__075714DC]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysRoles] ADD  CONSTRAINT [DF__CompanyRo__Modif__084B3915]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysRoles] ADD  CONSTRAINT [DF__CompanyRo__Creat__093F5D4E]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysRoles] ADD  CONSTRAINT [DF__CompanyRo__Creat__0A338187]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysRoles] ADD  CONSTRAINT [DF__CompanyRo__DataA__0B27A5C0]  DEFAULT ('SPL') FOR [DataAreaId]
GO
ALTER TABLE [dbo].[SysRoles] ADD  CONSTRAINT [DF__CompanyRo__Parti__0C1BC9F9]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysUserAuditTrails] ADD  CONSTRAINT [DF_SysUserAuditTrails_ActionDateTime]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ActionDateTime]
GO
ALTER TABLE [dbo].[SysUserCompanies] ADD  CONSTRAINT [DF__UserCompa__DataA__0D468F0A]  DEFAULT ('SPL') FOR [DataAreaId]
GO
ALTER TABLE [dbo].[SysUserCompanies] ADD  CONSTRAINT [DF__UserCompa__RecVe__0B5E4698]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysUserCompanies] ADD  CONSTRAINT [DF__UserCompa__Modif__078DB5B4]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysUserCompanies] ADD  CONSTRAINT [DF__UserCompa__Modif__0881D9ED]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysUserCompanies] ADD  CONSTRAINT [DF__UserCompa__Creat__0975FE26]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysUserCompanies] ADD  CONSTRAINT [DF__UserCompa__Creat__0A6A225F]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysUserCompanies] ADD  CONSTRAINT [DF__UserCompa__Parti__0C526AD1]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysUserInfo] ADD  CONSTRAINT [DF_Users_isActivated]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[SysUserInfo] ADD  CONSTRAINT [DF__Users__RecVersio__7948ECA7]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysUserInfo] ADD  CONSTRAINT [DF__Users__ModifiedD__7A3D10E0]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysUserInfo] ADD  CONSTRAINT [DF__Users__ModifiedB__7B313519]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysUserInfo] ADD  CONSTRAINT [DF__Users__CreatedDa__7C255952]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysUserInfo] ADD  CONSTRAINT [DF__Users__CreatedBy__7D197D8B]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysUserInfo] ADD  CONSTRAINT [DF__Users__Partition__7E0DA1C4]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysUserLogin] ADD  CONSTRAINT [DF_SysUserLogin_AttemptStatus]  DEFAULT ((0)) FOR [AttemptStatus]
GO
ALTER TABLE [dbo].[SysUserMenuItems] ADD  CONSTRAINT [DF__UserConfi__RecVe__3DE9C665]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysUserMenuItems] ADD  CONSTRAINT [DF__UserConfi__Modif__3A193581]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysUserMenuItems] ADD  CONSTRAINT [DF__UserConfi__Modif__3B0D59BA]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysUserMenuItems] ADD  CONSTRAINT [DF__UserConfi__Creat__3C017DF3]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysUserMenuItems] ADD  CONSTRAINT [DF__UserConfi__Creat__3CF5A22C]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysUserMenuItems] ADD  CONSTRAINT [DF__UserConfi__DataA__3FD20ED7]  DEFAULT ('SPL') FOR [DataAreaId]
GO
ALTER TABLE [dbo].[SysUserMenuItems] ADD  CONSTRAINT [DF__UserConfi__Parti__3EDDEA9E]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysUserQuickLinks] ADD  CONSTRAINT [DF__UserQuick__RecVe__2059637E]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysUserQuickLinks] ADD  CONSTRAINT [DF__UserQuick__Modif__1C88D29A]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysUserQuickLinks] ADD  CONSTRAINT [DF__UserQuick__Modif__1D7CF6D3]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysUserQuickLinks] ADD  CONSTRAINT [DF__UserQuick__Creat__1E711B0C]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysUserQuickLinks] ADD  CONSTRAINT [DF__UserQuick__Creat__1F653F45]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysUserQuickLinks] ADD  CONSTRAINT [DF__UserQuick__DataA__2241ABF0]  DEFAULT ('SPL') FOR [DataAreaId]
GO
ALTER TABLE [dbo].[SysUserQuickLinks] ADD  CONSTRAINT [DF__UserQuick__Parti__214D87B7]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysUserRecentMenuItems] ADD  CONSTRAINT [DF__UserRecen__RecVe__5C6E4D85]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysUserRecentMenuItems] ADD  CONSTRAINT [DF__UserRecen__Modif__589DBCA1]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysUserRecentMenuItems] ADD  CONSTRAINT [DF__UserRecen__Modif__5991E0DA]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysUserRecentMenuItems] ADD  CONSTRAINT [DF__UserRecen__Creat__5A860513]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysUserRecentMenuItems] ADD  CONSTRAINT [DF__UserRecen__Creat__5B7A294C]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysUserRecentMenuItems] ADD  CONSTRAINT [DF__UserRecen__DataA__5E5695F7]  DEFAULT ('SPL') FOR [DataAreaId]
GO
ALTER TABLE [dbo].[SysUserRecentMenuItems] ADD  CONSTRAINT [DF__UserRecen__Parti__5D6271BE]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysUserRoles] ADD  CONSTRAINT [DF__UserRoles__RecVe__6ECB5E34]  DEFAULT ((1)) FOR [RecVersion]
GO
ALTER TABLE [dbo].[SysUserRoles] ADD  CONSTRAINT [DF__UserRoles__Modif__6FBF826D]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [ModifiedDateTime]
GO
ALTER TABLE [dbo].[SysUserRoles] ADD  CONSTRAINT [DF__UserRoles__Modif__70B3A6A6]  DEFAULT ('?') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[SysUserRoles] ADD  CONSTRAINT [DF__UserRoles__Creat__71A7CADF]  DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[SysUserRoles] ADD  CONSTRAINT [DF__UserRoles__Creat__729BEF18]  DEFAULT ('?') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysUserRoles] ADD  CONSTRAINT [DF__UserRoles__DataA__73901351]  DEFAULT ('SPL') FOR [DataAreaId]
GO
ALTER TABLE [dbo].[SysUserRoles] ADD  CONSTRAINT [DF__UserRoles__Parti__7484378A]  DEFAULT ((5637144576.)) FOR [Partition]
GO
ALTER TABLE [dbo].[SysCompanyInfo]  WITH CHECK ADD  CONSTRAINT [FK_CompanyInfo_Partition] FOREIGN KEY([Partition])
REFERENCES [dbo].[SysPartition] ([PartitionId])
GO
ALTER TABLE [dbo].[SysCompanyInfo] CHECK CONSTRAINT [FK_CompanyInfo_Partition]
GO
ALTER TABLE [dbo].[SysMenu]  WITH CHECK ADD  CONSTRAINT [FK_SysMenu_SysModules] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[SysModules] ([ModuleId])
GO
ALTER TABLE [dbo].[SysMenu] CHECK CONSTRAINT [FK_SysMenu_SysModules]
GO
ALTER TABLE [dbo].[sysMenuItemLicenses]  WITH CHECK ADD  CONSTRAINT [FK_sysMenuItemLicenses_SysLicenceType] FOREIGN KEY([LicenseType])
REFERENCES [dbo].[SysLicenceType] ([LicenseType])
GO
ALTER TABLE [dbo].[sysMenuItemLicenses] CHECK CONSTRAINT [FK_sysMenuItemLicenses_SysLicenceType]
GO
ALTER TABLE [dbo].[sysMenuItemLicenses]  WITH CHECK ADD  CONSTRAINT [FK_sysMenuItemLicenses_SysMenuItems] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[SysMenuItems] ([MenuItemId])
GO
ALTER TABLE [dbo].[sysMenuItemLicenses] CHECK CONSTRAINT [FK_sysMenuItemLicenses_SysMenuItems]
GO
ALTER TABLE [dbo].[SysMenuItems]  WITH CHECK ADD  CONSTRAINT [FK_SysMenuItems_SysMenuItemTypes] FOREIGN KEY([Type])
REFERENCES [dbo].[SysMenuItemTypes] ([Type])
GO
ALTER TABLE [dbo].[SysMenuItems] CHECK CONSTRAINT [FK_SysMenuItems_SysMenuItemTypes]
GO
ALTER TABLE [dbo].[SysMenuItemsMenus]  WITH CHECK ADD  CONSTRAINT [FK_SysMenuItemsMenus_SysMenu] FOREIGN KEY([MenuId], [ModuleId])
REFERENCES [dbo].[SysMenu] ([MenuId], [ModuleId])
GO
ALTER TABLE [dbo].[SysMenuItemsMenus] CHECK CONSTRAINT [FK_SysMenuItemsMenus_SysMenu]
GO
ALTER TABLE [dbo].[SysMenuItemsMenus]  WITH CHECK ADD  CONSTRAINT [FK_SysMenuItemsMenus_SysMenuItems] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[SysMenuItems] ([MenuItemId])
GO
ALTER TABLE [dbo].[SysMenuItemsMenus] CHECK CONSTRAINT [FK_SysMenuItemsMenus_SysMenuItems]
GO
ALTER TABLE [dbo].[SysPartitionModules]  WITH CHECK ADD  CONSTRAINT [FK_SysPartitionModules_SysModules] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[SysModules] ([ModuleId])
GO
ALTER TABLE [dbo].[SysPartitionModules] CHECK CONSTRAINT [FK_SysPartitionModules_SysModules]
GO
ALTER TABLE [dbo].[SysPartitionModules]  WITH CHECK ADD  CONSTRAINT [FK_SysPartitionModules_SysPartition] FOREIGN KEY([PartitionId])
REFERENCES [dbo].[SysPartition] ([PartitionId])
GO
ALTER TABLE [dbo].[SysPartitionModules] CHECK CONSTRAINT [FK_SysPartitionModules_SysPartition]
GO
ALTER TABLE [dbo].[SysRoleMenuItems]  WITH CHECK ADD  CONSTRAINT [FK_SysRoleMenuItems_sysMenuItemLicenses] FOREIGN KEY([MenuItemId], [LicenseType])
REFERENCES [dbo].[sysMenuItemLicenses] ([MenuItemId], [LicenseType])
GO
ALTER TABLE [dbo].[SysRoleMenuItems] CHECK CONSTRAINT [FK_SysRoleMenuItems_sysMenuItemLicenses]
GO
ALTER TABLE [dbo].[SysRoleMenuItems]  WITH CHECK ADD  CONSTRAINT [FK_SysRoleMenuItems_SysMenuItems] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[SysMenuItems] ([MenuItemId])
GO
ALTER TABLE [dbo].[SysRoleMenuItems] CHECK CONSTRAINT [FK_SysRoleMenuItems_SysMenuItems]
GO
ALTER TABLE [dbo].[SysRoleMenuItems]  WITH CHECK ADD  CONSTRAINT [FK_SysRoleMenuItems_SysRoles] FOREIGN KEY([RoleId], [LicenseType], [DataAreaId])
REFERENCES [dbo].[SysRoles] ([RoleId], [LicenseType], [DataAreaId])
GO
ALTER TABLE [dbo].[SysRoleMenuItems] CHECK CONSTRAINT [FK_SysRoleMenuItems_SysRoles]
GO
ALTER TABLE [dbo].[SysRoles]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRoles_CompanyInfo] FOREIGN KEY([DataAreaId])
REFERENCES [dbo].[SysCompanyInfo] ([DataAreaId])
GO
ALTER TABLE [dbo].[SysRoles] CHECK CONSTRAINT [FK_CompanyRoles_CompanyInfo]
GO
ALTER TABLE [dbo].[SysRoles]  WITH CHECK ADD  CONSTRAINT [FK_SysRoles_SysLicenceType] FOREIGN KEY([LicenseType])
REFERENCES [dbo].[SysLicenceType] ([LicenseType])
GO
ALTER TABLE [dbo].[SysRoles] CHECK CONSTRAINT [FK_SysRoles_SysLicenceType]
GO
ALTER TABLE [dbo].[SysUserAuditTrailDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserAuditTrailDetails_UserAuditTrails] FOREIGN KEY([RefRecId])
REFERENCES [dbo].[SysUserAuditTrails] ([RecId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysUserAuditTrailDetails] CHECK CONSTRAINT [FK_UserAuditTrailDetails_UserAuditTrails]
GO
ALTER TABLE [dbo].[SysUserAuditTrails]  WITH CHECK ADD  CONSTRAINT [FK_SysUserAuditTrails_SysAuditTrails] FOREIGN KEY([RefRecId])
REFERENCES [dbo].[SysAuditTrails] ([RecId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysUserAuditTrails] CHECK CONSTRAINT [FK_SysUserAuditTrails_SysAuditTrails]
GO
ALTER TABLE [dbo].[SysUserCompanies]  WITH CHECK ADD  CONSTRAINT [FK_SysUserCompanies_SysUserInfo] FOREIGN KEY([UserId])
REFERENCES [dbo].[SysUserInfo] ([UserId])
GO
ALTER TABLE [dbo].[SysUserCompanies] CHECK CONSTRAINT [FK_SysUserCompanies_SysUserInfo]
GO
ALTER TABLE [dbo].[SysUserCompanies]  WITH CHECK ADD  CONSTRAINT [FK_UserCompanies_CompanyInfo] FOREIGN KEY([DataAreaId])
REFERENCES [dbo].[SysCompanyInfo] ([DataAreaId])
GO
ALTER TABLE [dbo].[SysUserCompanies] CHECK CONSTRAINT [FK_UserCompanies_CompanyInfo]
GO
ALTER TABLE [dbo].[SysUserInfo]  WITH CHECK ADD  CONSTRAINT [FK_SysUserInfo_SysLicenceType] FOREIGN KEY([LicenseType])
REFERENCES [dbo].[SysLicenceType] ([LicenseType])
GO
ALTER TABLE [dbo].[SysUserInfo] CHECK CONSTRAINT [FK_SysUserInfo_SysLicenceType]
GO
ALTER TABLE [dbo].[SysUserInfo]  WITH CHECK ADD  CONSTRAINT [FK_SysUserInfo_SysPartition] FOREIGN KEY([Partition])
REFERENCES [dbo].[SysPartition] ([PartitionId])
GO
ALTER TABLE [dbo].[SysUserInfo] CHECK CONSTRAINT [FK_SysUserInfo_SysPartition]
GO
ALTER TABLE [dbo].[SysUserLogin]  WITH CHECK ADD  CONSTRAINT [FK_SysUserLogin_SysUserInfo] FOREIGN KEY([UserId])
REFERENCES [dbo].[SysUserInfo] ([UserId])
GO
ALTER TABLE [dbo].[SysUserLogin] CHECK CONSTRAINT [FK_SysUserLogin_SysUserInfo]
GO
ALTER TABLE [dbo].[SysUserMenuItems]  WITH CHECK ADD  CONSTRAINT [FK_SysUserMenuItems_SysRoleMenuItems] FOREIGN KEY([MenuItemId], [RoleId], [LicenseType], [DataAreaId])
REFERENCES [dbo].[SysRoleMenuItems] ([MenuItemId], [RoleId], [LicenseType], [DataAreaId])
GO
ALTER TABLE [dbo].[SysUserMenuItems] CHECK CONSTRAINT [FK_SysUserMenuItems_SysRoleMenuItems]
GO
ALTER TABLE [dbo].[SysUserMenuItems]  WITH CHECK ADD  CONSTRAINT [FK_SysUserMenuItems_SysUserRoles] FOREIGN KEY([UserId], [RoleId], [LicenseType], [DataAreaId])
REFERENCES [dbo].[SysUserRoles] ([UserId], [RoleId], [LicenseType], [DataAreaId])
GO
ALTER TABLE [dbo].[SysUserMenuItems] CHECK CONSTRAINT [FK_SysUserMenuItems_SysUserRoles]
GO
ALTER TABLE [dbo].[SysUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_SysUserRoles_SysRoles] FOREIGN KEY([RoleId], [LicenseType], [DataAreaId])
REFERENCES [dbo].[SysRoles] ([RoleId], [LicenseType], [DataAreaId])
GO
ALTER TABLE [dbo].[SysUserRoles] CHECK CONSTRAINT [FK_SysUserRoles_SysRoles]
GO
ALTER TABLE [dbo].[SysUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_SysUserRoles_SysUserCompanies] FOREIGN KEY([UserId], [DataAreaId])
REFERENCES [dbo].[SysUserCompanies] ([UserId], [DataAreaId])
GO
ALTER TABLE [dbo].[SysUserRoles] CHECK CONSTRAINT [FK_SysUserRoles_SysUserCompanies]
GO
ALTER TABLE [dbo].[SysUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_SysUserRoles_SysUserInfo] FOREIGN KEY([UserId])
REFERENCES [dbo].[SysUserInfo] ([UserId])
GO
ALTER TABLE [dbo].[SysUserRoles] CHECK CONSTRAINT [FK_SysUserRoles_SysUserInfo]
GO
/****** Object:  StoredProcedure [dbo].[checkAlreadyAddedInQuickLink]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROc [dbo].[checkAlreadyAddedInQuickLink](
@UserId nvarchar(8) = NULL,
@MenuItemId nvarchar(50)= NULL,
@DataAreaId nvarchar(10) = NULL,
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
	SELECT UserId, MenuItemId 
	FROM SysUserQuickLinks 
	WHERE UserId = @UserId AND DataAreaId = @DataAreaId AND Partition = @Partition AND MenuItemId = @MenuItemId

END
GO
/****** Object:  StoredProcedure [dbo].[generateDataTableFromConfig]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[generateDataTableFromConfig](
@WhereClause varchar(500),
@TableName varchar(100),
@FieldList varchar(500)         
)
-- WITH ENCRYPTION
AS
BEGIN
    DECLARE @sqlCommand varchar(1000)

    SET @sqlCommand = 'SELECT ' + @FieldList + ' FROM ' + @TableName + ' Where 1=1 ' + @WhereClause

    EXEC (@sqlCommand)
END


GO
/****** Object:  StoredProcedure [dbo].[SysMenuItemDetails_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--DECLARE @MenuItemId nvarchar(100) = 'ESSAPDailyGroomingAppraisalsAssignedToMeHistory';
--EXEC SysMenuItemDetails_Create
--	@MenuItemId = @MenuItemId,
--	@Label = 'Daily Grooming Appraisals Assigned To Me',
--	@Object = '/ESS/HR/ESSAPDailyGroomingAppraisalsAssignedToMe_ListPage.aspx',
--	@ModuleId = 'ESS',
--	@Type = '1',
--	@MenuId = 'Payroll',--'HR' --'Admin' --'Reports'
--	@Visible = true,
--	@LicenseType = 1,
--	@AccessLevel = 2,
--	@RoleId = 'ESS'
----SELECT * FROM [DynamicsPortalStylo].[dbo].[SysMenuItems] where MenuItemId = @MenuItemId
----SELECT * FROM [DynamicsPortalStylo].[dbo].[SysUserMenuItems] where MenuItemId = @MenuItemId order by UserId 
CREATE PROCEDURE [dbo].[SysMenuItemDetails_Create]
(
	@MenuItemId nvarchar(200) = NULL,
	@Label nvarchar(200) = NULL,
	@Object nvarchar(200) = NULL,
	@ModuleId nvarchar(200) = NULL,
	@Type nvarchar(200) = NULL,
	@MenuId nvarchar(200) = NULL,
	@Visible bit = NULL,
	@LicenseType TinyInt = NULL,
	@AccessLevel TinyInt = NULL,
	@RoleId nvarchar(200) = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage nvarchar(200), @UserId nvarchar(8) = NULL, @DataAreaId nvarchar(4) = NULL, @Partition bigint = NULL;
	
	IF (@MenuItemId IS NOT NULL AND @Label IS NOT NULL AND @Object IS NOT NULL AND @ModuleId IS NOT NULL AND @Type IS NOT NULL AND @MenuId IS NOT NULL AND 
		@Visible IS NOT NULL AND @LicenseType IS NOT NULL AND @AccessLevel IS NOT NULL AND @RoleId IS NOT NULL)
	BEGIN
		BEGIN TRY
			INSERT INTO SysMenuItems(MenuItemId, Label, ModuleId, Object, ToolTip, Type, Visible, Sequence)
			VALUES	(@MenuItemId, @Label, @ModuleId, @Object, @Label, @Type, @Visible, 0);
					
			INSERT INTO sysMenuItemLicenses(MenuItemId, LicenseType)
			VALUES	(@MenuItemId, @LicenseType);
					
			INSERT INTO SysMenuItemsMenus(MenuId, MenuItemId, ModuleId)
			VALUES	(@MenuId, @MenuItemId, @ModuleId);
		END TRY
		BEGIN CATCH
			SET @ErrorMessage = ERROR_MESSAGE();
			RAISERROR(@ErrorMessage, 16, 1) 
		END CATCH;
		
		BEGIN TRY
			-- Loop for Companies and Users
			BEGIN
			--PRINT '-------- Data Area DETAILS --------';
			DECLARE dataarea_cursor CURSOR LOCAL FOR
				SELECT DataAreaId, Partition
				FROM SysRoles
				where RoleId = @RoleId;
			OPEN dataarea_cursor
			FETCH NEXT FROM dataarea_cursor
			INTO @DataAreaId, @Partition;

			WHILE @@FETCH_STATUS = 0
			BEGIN
			print @DataAreaId +' '+ cast(@Partition as varchar(60));
			BEGIN
				BEGIN TRY
					INSERT INTO SysRoleMenuItems(AccessLevel, DataAreaId, LicenseType, MenuItemId, Partition, RoleId)
					VALUES	(@AccessLevel, @DataAreaId, @LicenseType, @MenuItemId, @Partition, @RoleId);
				END TRY
				BEGIN CATCH
					SET @ErrorMessage = ERROR_MESSAGE();
					RAISERROR(@ErrorMessage, 16, 1) 
				END CATCH;
			END

			--BEGIN
			----PRINT '-------- User DETAILS --------';
			--DECLARE user_cursor CURSOR FOR
			--	SELECT UserId
			--	FROM SysUserCompanies
			--	where DataAreaId = @DataAreaId;
			--OPEN user_cursor
			--FETCH NEXT FROM user_cursor
			--INTO @UserId;
			--WHILE @@FETCH_STATUS = 0
			--BEGIN
			--print @UserId;
			--BEGIN
			--	BEGIN TRY
			--		INSERT INTO SysUserMenuItems(DataAreaId, LicenseType, MenuItemId, Partition, RoleId, UserId)
			--		VALUES	(@DataAreaId, @LicenseType, @MenuItemId, @Partition, @RoleId, @UserId);
			--	END TRY
			--	BEGIN CATCH
			--		SET @ErrorMessage = ERROR_MESSAGE();
			--		RAISERROR(@ErrorMessage, 16, 1) 
			--	END CATCH;
			--END
			--FETCH NEXT FROM user_cursor 
			--INTO @UserId;
			--END 
			--CLOSE user_cursor;
			--DEALLOCATE user_cursor;
			--END

			FETCH NEXT FROM dataarea_cursor 
			INTO @DataAreaId, @Partition;
			END 
			CLOSE dataarea_cursor;
			DEALLOCATE dataarea_cursor;

			END

		END TRY
		BEGIN CATCH
			SET @ErrorMessage = ERROR_MESSAGE();
			RAISERROR(@ErrorMessage, 16, 1) 
		END CATCH;
	End
	ELSE
	BEGIN
		RAISERROR('Please provide valid data.', 16, 1);
	END
	
End
GO
/****** Object:  StoredProcedure [dbo].[SysMenuItems_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SysMenuItems_Retrieve]
-- WITH ENCRYPTION
AS
BEGIN

SELECT menuItems.MenuItemId,menuItems.Label,menuItems.Object, LicenseType, menuItems.RecId FROM SysMenuItems menuItems
INNER JOIN sysMenuItemLicenses menuItemLic
on menuItemLic.MenuItemId = menuItems.MenuItemId
WHERE
LicenseType = 1
END

GO
/****** Object:  StoredProcedure [dbo].[SysRoleMenuItems_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCedure [dbo].[SysRoleMenuItems_Create]
(
 @RoleId nvarchar(50) = NULL,
 @MenuItemId nvarchar(50) = Null,
 @AccessLevel int = Null,
 @LicenseType int = Null,
 @DataAreaId nvarchar(4) = NULL,
 @RecVersion int = NULL,
 @Partition bigint = NULL, 
 @ModifiedBy nvarchar (8) = NULL,
 @CreatedBy nvarchar (8) = NULL,
 @RecId bigint = Null
)
-- WITH ENCRYPTION 
As
Begin
	SET NOCOUNT ON;
Insert into SysRoleMenuItems ([MenuItemId], [RoleId], [AccessLevel], [LicenseType],
								[DATAAREAID],[RECVERSION], [PARTITION], [MODIFIEDDATETIME], [MODIFIEDBY], [CREATEDDATETIME], [CREATEDBY])
Values(@MenuItemId, @RoleId, @AccessLevel, @LicenseType,
				@DataAreaId, @RecVersion, @Partition, GETDATE(), @ModifiedBy, GETDATE(), @CreatedBy)
	SELECT SCOPE_IDENTITY();
End

GO
/****** Object:  StoredProcedure [dbo].[SysRoleMenuItems_Delete]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SysRoleMenuItems_Delete]
@RecId bigint
-- WITH ENCRYPTION
AS
DELETE FROM SysRoleMenuItems
WHERE
[RECID]= @RecId

GO
/****** Object:  StoredProcedure [dbo].[SysRoleMenuItems_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SysRoleMenuItems_Retrieve](
@DataAreaId nvarchar(4) = NULL,
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN

SELECT RoleId, AccessLevel, MenuItemId, LicenseType, DataAreaId, Partition, RecId FROM SysRoleMenuItems
WHERE
DataAreaId = @DataAreaId
AND Partition = @Partition
AND LicenseType = 1
END

GO
/****** Object:  StoredProcedure [dbo].[SysRoleMenuItems_RetrieveByRoleId]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SysRoleMenuItems_RetrieveByRoleId](
@RoleId nvarchar(50) = NULL,
@DataAreaId nvarchar(4) = NULL,
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN

SELECT RoleId, AccessLevel, MenuItemId, LicenseType, DataAreaId, Partition, RecId FROM SysRoleMenuItems
WHERE
RoleId = @RoleId
AND DataAreaId = @DataAreaId
AND Partition = @Partition

END

GO
/****** Object:  StoredProcedure [dbo].[SysRoleMenuItems_Update]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SysRoleMenuItems_Update]
	@RoleId nvarchar(50) = Null,
	@MenuItemId nvarchar(50) = Null,
	@ModifiedBy nvarchar(8) = NULL,
	@RecId bigint = Null
-- WITH ENCRYPTION
AS
BEGIN 
		SET NOCOUNT OFF 
		UPDATE [dbo].[SysRoleMenuItems]
		SET
		[RoleId] = @RoleId,
		[MenuItemId] = @MenuItemId,
		[ModifiedDateTime] = GETDATE(),
		[ModifiedBy] = @ModifiedBy,
		[RecVersion] = [RecVersion] + 1
		FROM [dbo].[SysRoleMenuItems]
		Where 
		[RecId] = @RecId
END 

GO
/****** Object:  StoredProcedure [dbo].[SysRoles_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCedure [dbo].[SysRoles_Create]
(
 @RoleId nvarchar(50) = NULL,
 @Description nvarchar(50) = Null,
 @LicenseType int = Null,
 @DataAreaId nvarchar(4) = NULL,
 @RecVersion int = NULL,
 @Partition bigint = NULL, 
 @ModifiedBy nvarchar (8) = NULL,
 @CreatedBy nvarchar (8) = NULL,
 @RecId bigint = Null
)
-- WITH ENCRYPTION 
As
Begin
	SET NOCOUNT ON;
Insert into SysRoles ([RoleId], [Description], [LicenseType],
					[DATAAREAID],[RECVERSION], [PARTITION], [MODIFIEDDATETIME], [MODIFIEDBY], [CREATEDDATETIME], [CREATEDBY])
Values(@RoleId, @Description, @LicenseType,
				@DataAreaId, @RecVersion, @Partition, GETDATE(), @ModifiedBy, GETDATE(), @CreatedBy)
	SELECT SCOPE_IDENTITY();

End
GO
/****** Object:  StoredProcedure [dbo].[SysRoles_Delete]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SysRoles_Delete]
@RecId bigint
-- WITH ENCRYPTION
AS
IF NOT EXISTS
(
	SELECT UserId FROM SysUserRoles userRoles
	INNER JOIN SysRoles roles
	ON
	(
	roles.RoleId = userRoles.RoleId
	AND roles.DataAreaId = userRoles.DataAreaId
	AND roles.Partition = userRoles.Partition
	)
	WHERE
	roles.RecId = @RecId
)
BEGIN
	IF NOT EXISTS
	(
		SELECT MenuItemId FROM SysRoleMenuItems roleMenuItems
		INNER JOIN SysRoles roles
		ON
		(
		roles.RoleId = roleMenuItems.RoleId
		AND roles.DataAreaId = roleMenuItems.DataAreaId
		AND roles.Partition = roleMenuItems.Partition
		)
		WHERE
		roles.RecId = @RecId
	)
	BEGIN
		DELETE FROM SysRoles
		WHERE
		[RECID]= @RecId
	END
	ELSE
	BEGIN
		RAISERROR('Selected Role is assigned to Menu Items. Unable to delete.', 16, 1)
	END
END
ELSE
BEGIN
	RAISERROR('Selected Role is assigned to Users. Unable to delete.', 16, 1)
END

GO
/****** Object:  StoredProcedure [dbo].[SysRoles_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROc [dbo].[SysRoles_Retrieve](
@DataAreaId nvarchar(4),
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN


SELECT RoleId, Description, LicenseType, DataAreaId, Partition, RecId FROM SysRoles
WHERE 
DataAreaId = @DataAreaId
AND Partition = @Partition
AND LicenseType = 1


END

GO
/****** Object:  StoredProcedure [dbo].[SysRoles_Update]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SysRoles_Update]
		@Description nvarchar(50) = NULL,
		@ModifiedBy nvarchar(8) = NULL,
		@RecId bigint = Null
-- WITH ENCRYPTION
AS
BEGIN 
		SET NOCOUNT OFF 
		UPDATE  [dbo].[SysRoles]
		SET [Description] = @Description,
		[ModifiedDateTime]= GETDATE(),
		[ModifiedBy]= @ModifiedBy,
		[RecVersion]  = [RecVersion] +1
		FROM   [dbo].[SysRoles]
		Where 
		[RecId] = @RecId

END 

GO
/****** Object:  StoredProcedure [dbo].[SysUserAuditTrailDetails_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SysUserAuditTrailDetails_Create]
(
	@Field nvarchar(50) = Null,
	@NewValue nvarchar(100) = Null,
	@OldValue nvarchar(100) = Null,
	@LastModifiedBy nvarchar(50) = Null,
	@LastModifiedDateTime datetime = Null,
	@RefRecId bigint = Null
) 
-- WITH ENCRYPTION
As
Begin
	SET NOCOUNT ON;
	Insert into SysUserAuditTrailDetails([Field], [NewValue], [OldValue], [LastModifiedBy], [LastModifiedDateTime], [RefRecId])
	Values(	@Field, @NewValue, @OldValue, @LastModifiedBy, @LastModifiedDateTime, @RefRecId)
	SELECT SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[SysUserAuditTrails_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SysUserAuditTrails_Create]
(
	@UserId nvarchar(8) = Null,
	@ActionDateTime datetime = Null,
	@ActionItem nvarchar(50) = Null,
	@TableName nvarchar(60) = Null,
	@RecordRecId bigint = Null,
	@ActionResult bit = Null,
	@ActionType nvarchar(50) = Null,
	@ActionMessage nvarchar(200) = Null,
	@DataAreaId nvarchar(4) = Null,
	@Partition bigint = Null
)
-- WITH ENCRYPTION
As
Begin
	IF (@UserId IS NOT NULL AND @ActionItem IS NOT NULL AND @TableName IS NOT NULL AND @RecordRecId IS NOT NULL AND @ActionResult IS NOT NULL AND 
		@ActionType IS NOT NULL AND @DataAreaId IS NOT NULL AND @Partition IS NOT NULL)
    BEGIN

	DECLARE @AuditTrailRecId bigint = Null, @UserAuditTrailRecId bigint = Null, @ErrorMessage nvarchar(200);
	BEGIN TRY
		SELECT TOP 1 @AuditTrailRecId = RecId
		FROM SysAuditTrails
		WHERE TableName = @TableName AND RecordRecId = @RecordRecId;

		IF (@AuditTrailRecId IS NULL)
		BEGIN
		SET NOCOUNT ON;
		INSERT INTO SysAuditTrails (TableName, RecordRecId, ActionItem, DataAreaId, Partition)
		VALUES (@TableName, @RecordRecId, @ActionItem, @DataAreaId, @Partition)
		SET @AuditTrailRecId = SCOPE_IDENTITY();
		END
		
		SET NOCOUNT ON;
		INSERT INTO SysUserAuditTrails(ActionDateTime, ActionType, ActionMessage, ActionResult, RefRecId, UserId)
		VALUES (@ActionDateTime, @ActionType, @ActionMessage, @ActionResult, @AuditTrailRecId, @UserId)
		SELECT SCOPE_IDENTITY();	-- @UserAuditTrailRecId =

	END TRY
	BEGIN CATCH
		SET @ErrorMessage = ERROR_MESSAGE();
		RAISERROR(@ErrorMessage, 16, 1) 
	END CATCH;

	END

END

GO
/****** Object:  StoredProcedure [dbo].[SysUserCompanies_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROc [dbo].[SysUserCompanies_Retrieve](
@UserId nvarchar(8),
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN

  SELECT userInfo.UserId, companyInfo.DataAreaId, companyInfo.CompanyLogo, companyInfo.DateFormat, companyInfo.Description, companyInfo.FullName,
  companyInfo.Language, companyInfo.Name,  companyInfo.TaxRegNum,  companyInfo.TimeZone,  companyInfo.RecId as CompanyRecId

  FROM SysUserInfo userInfo
  inner join SysUserCompanies userCompanies
  ON userCompanies.UserId = userInfo.UserId
  inner join SysCompanyInfo companyInfo
  ON userCompanies.DataAreaId = companyInfo.DataAreaId

  WHERE userInfo.UserId = @UserId
  AND userInfo.Partition = @Partition
  AND companyInfo.Partition = @Partition
  AND userCompanies.Partition = @Partition

END
GO
/****** Object:  StoredProcedure [dbo].[SysUserDetails_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SysUserDetails_Create]
(
	@UserId nvarchar(8) = NULL,
	@Password nvarchar(200) = NULL,
	@DataAreaId nvarchar(4) = NULL,
	@Partition bigint = NULL,
	@CreatedBy nvarchar(8) = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @RoleId nvarchar(50) = 'ESS', @Status bit = 1, @LicenseType tinyint = 1, @check int = NULL, @ErrorNumber int = NULL, @ErrorMessage NVARCHAR(1000) = NULL;
	
	IF EXISTS(
	SELECT UserId
	FROM SysUserInfo
	WHERE (UserId = @UserId) AND (LicenseType = @LicenseType) AND (Partition = @Partition) AND (Password = @Password COLLATE SQL_Latin1_General_CP1_CS_AS))
      BEGIN
		BEGIN TRY
			INSERT INTO SysUserCompanies([UserId], [DataAreaId], [Status], [Partition], [ModifiedBy], [CreatedBy])
			VALUES	(@UserId, @DataAreaId, @Status, @Partition, @CreatedBy, @CreatedBy);
			SET @check = @@ROWCOUNT;
		END TRY
		BEGIN CATCH
		  SET @ErrorNumber = ERROR_NUMBER();
		  SET @ErrorMessage = 'No. '+ @ErrorNumber + ': Error Creating User Company(' + @DataAreaId + ') Details.';--ERROR_MESSAGE();
		  RAISERROR(@ErrorMessage, 16, 1) 
		END CATCH;

		IF(@check = 1)
			BEGIN
				BEGIN TRY
					INSERT INTO SysUserRoles([UserId], [RoleId], [LicenseType], [DataAreaId], [Partition], [ModifiedBy], [CreatedBy])
					VALUES	(@UserId, @RoleId, @LicenseType, @DataAreaId, @Partition, @CreatedBy, @CreatedBy);
				END TRY
				BEGIN CATCH
				  SET @ErrorNumber = ERROR_NUMBER();
				  SET @ErrorMessage = 'No. '+ @ErrorNumber + ': Error Creating User Roles.';--ERROR_MESSAGE();
				  RAISERROR(@ErrorMessage, 16, 1) 
				END CATCH;

				--BEGIN TRY
				--	INSERT INTO SysUserMenuItems([RoleId], [UserId], [MenuItemId], [LicenseType], [DataAreaId], [CreatedBy], [ModifiedBy])
				--	SELECT roleMenuItems.RoleId, @UserId as UserId, roleMenuItems.MenuItemId, roleMenuItems.LicenseType, roleMenuItems.DataAreaId, @CreatedBy as CreatedBy, @CreatedBy as ModifiedBy
				--	FROM SysRoleMenuItems roleMenuItems
				--	LEFT JOIN SysUserMenuItems userMenuItems
				--	ON userMenuItems.MenuItemId = roleMenuItems.MenuItemId AND userMenuItems.UserId = @UserId
				--	WHERE (userMenuItems.MenuItemId IS NULL) AND ((roleMenuItems.DataAreaId = @DataAreaId) AND (roleMenuItems.LicenseType = @LicenseType));
				--END TRY
				--BEGIN CATCH
				--  SET @ErrorNumber = ERROR_NUMBER();
				--  SET @ErrorMessage = 'No. '+ @ErrorNumber + ': Error Assigning User Menu Items.';--ERROR_MESSAGE();
				--  RAISERROR(@ErrorMessage, 16, 1) 
				--END CATCH;

				SELECT 'User Details Successfully Created.';--@@ROWCOUNT;
			END

	  END
	  
END
GO
/****** Object:  StoredProcedure [dbo].[SysUserInfo_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SysUserInfo_Create]
@UserId nvarchar(8) = Null,
@UserName nvarchar(50)= Null,
@Password nvarchar(200) = NULL,
@EmployeeId nvarchar(50) = NULL,
@DefaultCompany nvarchar(4) = NULL,
@LicenseType tinyint = NULL,
@Status bit  = NULL,
@CreatedBy nvarchar (8) = NULL,
@Partition bigint = NULL
-- WITH ENCRYPTION

AS
BEGIN
	DECLARE @ErrorNumber int = NULL, @ErrorMessage NVARCHAR(1000) = NULL;

	IF (@CreatedBy = 'su.admin')
	BEGIN
		IF EXISTS(SELECT UserId FROM SysUserInfo WHERE UserId = @UserId AND Partition = @Partition)
		BEGIN
			RAISERROR('User already exists with same User Id.', 16, 1);
		END
		ELSE
		BEGIN
			IF EXISTS(SELECT EmployeeId FROM SysUserInfo WHERE EmployeeId = @EmployeeId AND Partition = @Partition)
				BEGIN
					RAISERROR('User already exists with same Employee Id.', 16, 1);
				END
				ELSE
				BEGIN
					BEGIN TRY
						SET NOCOUNT ON;
						Insert into SysUserInfo (
						[UserId], [UserName], [Password], [EmployeeId], [DefaultCompany], [LicenseType], [Status],
							[PARTITION], [MODIFIEDDATETIME], [MODIFIEDBY], [CreatedDateTime], [CreatedBy])
						Values (
						@UserId, @UserName, @Password, @EmployeeId, @DefaultCompany, @LicenseType, @Status,
						@Partition, GETDATE(), @CreatedBy, GETDATE(), @CreatedBy)

						SELECT SCOPE_IDENTITY();
					END TRY  
					BEGIN CATCH
						--SELECT ERROR_NUMBER() + ' Unable to create user.';
						SET @ErrorNumber = ERROR_NUMBER();
						SET @ErrorMessage = 'No. '+ @ErrorNumber + ': Error Creating User.';--ERROR_MESSAGE();
						RAISERROR(@ErrorMessage, 16, 1);
					END CATCH;
				END
		END
	END
	ELSE
	BEGIN
		RAISERROR('User is not authorized for this request.', 16, 1);
	END

END

GO
/****** Object:  StoredProcedure [dbo].[SysUserInfo_ResetPassword]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SysUserInfo_ResetPassword]
(
	@UserId nvarchar(8) = NULL,
	@NewPassword nvarchar(200) = NULL,
	@Partition bigint = NULL,
	@ModifiedBy nvarchar(8) = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
	SET NOCOUNT OFF;

	IF (@ModifiedBy = 'su.admin')
	BEGIN
		BEGIN TRY
			UPDATE [SysUserInfo]
			SET
				Password			= @NewPassword,
				ModifiedDateTime	= GETDATE(),
				ModifiedBy			= @ModifiedBy,
				RecVersion			= [RecVersion] +1
			WHERE
				UserId	= @UserId AND Partition = @Partition
		END TRY
		BEGIN CATCH
			RAISERROR('Failed to update password.', 16, 1) 
		END CATCH;
	END
	ELSE
	BEGIN
		RAISERROR('User is not authorized for this request.', 16, 1)
	END
	  
END
GO
/****** Object:  StoredProcedure [dbo].[SysUserInfo_RetrieveAll]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SysUserInfo_RetrieveAll](
@UserId nvarchar(8),
@DataAreaId nvarchar(4),
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
	IF (@UserId = 'su.admin')
	BEGIN
		SELECT 
		sysUserInfo.[UserId],
		sysUserInfo.[UserName],
		sysUserInfo.[EmployeeId], 
		sysUserInfo.[DefaultCompany],
		sysUserInfo.[Status], 
		sysUserCompanies.[DataAreaId],
		sysUserInfo.[RecVersion],
		sysUserInfo.[Partition], 
		sysUserInfo.[ModifiedDateTime], 
		sysUserInfo.[ModifiedBy], 
		sysUserInfo.[CreatedDateTime],
		sysUserInfo.[CreatedBy],
		sysUserInfo.[RecId]
		FROM SysUserInfo sysUserInfo
		INNER JOIN
		SysUserCompanies sysUserCompanies
		ON
		sysUserInfo.UserId = sysUserCompanies.UserId
		AND
		sysUserInfo.Partition = sysUserCompanies.Partition

		WHERE
		(sysUserCompanies.DataAreaId = @DataAreaId)
		AND
		(sysUserCompanies.Partition = @Partition)
		AND
		(sysUserInfo.Partition = @Partition)
		AND
		(sysUserInfo.UserId != @UserId)
	END
	ELSE
	BEGIN
		RAISERROR('User is not authorized for this request.', 16, 1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SysUserInfo_UpdatePassword]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SysUserInfo_UpdatePassword]
(
	@UserId nvarchar(8) = NULL,
	@OldPassword nvarchar(200) = NULL,
	@NewPassword nvarchar(200) = NULL,
	@Partition bigint = NULL,
	@ModifiedBy nvarchar(8) = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
	SET NOCOUNT OFF;
	IF EXISTS(
				SELECT UserId
				FROM SysUserInfo
				WHERE (UserId = @UserId) AND (Partition = @Partition) AND (Password = @OldPassword COLLATE SQL_Latin1_General_CP1_CS_AS))
      BEGIN
		BEGIN TRY
			UPDATE [SysUserInfo]
			SET
			    Password			= @NewPassword,
				ModifiedDateTime	= GETDATE(),
				ModifiedBy			= @ModifiedBy,
				RecVersion			= [RecVersion] +1
			WHERE
			 UserId	= @UserId AND Partition = @Partition
		END TRY
		BEGIN CATCH
		  RAISERROR('Failed to update password.', 16, 1) 
		END CATCH;

		END
		ELSE
		BEGIN
			RAISERROR('Please enter valid old password.', 16, 1)
		END
	  
END
GO
/****** Object:  StoredProcedure [dbo].[SysUserInfo_UpdateStatus]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SysUserInfo_UpdateStatus]
(
	@RecId bigint = NULL,
	@Status bit = NULL,
	@ModifiedBy nvarchar(8) = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
	SET NOCOUNT OFF;
	
	IF (@ModifiedBy = 'su.admin')
	BEGIN
		BEGIN TRY
			UPDATE [SysUserInfo]
			SET
				Status				= @Status,
				ModifiedDateTime	= GETDATE(),
				ModifiedBy			= @ModifiedBy,
				RecVersion			= [RecVersion] +1
			WHERE
				RecId	= @RecId
		END TRY
		BEGIN CATCH
			RAISERROR('Failed to update status.', 16, 1) 
		END CATCH;
	END
	ELSE
	BEGIN
		RAISERROR('User is not authorized for this request.', 16, 1);
	END
END	  
GO
/****** Object:  StoredProcedure [dbo].[SysUserMenuItems_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SysUserMenuItems_Retrieve](
@UserId nvarchar(8) = NULL,
@DataAreaId nvarchar(4) = NULL,
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN


;with menu_tree as
(
     SELECT menuItems.MenuItemId AS MenuId, menuItems.Label, menuItems.[Object], menuItemsMenus.MenuId AS ParentId, menuItems.ModuleId, menuItems.[Type],
        menuItems.Sequence, menuItems.Visible, roleMenuItems.AccessLevel, roleMenuItems.RoleId, CAST(NULL AS nvarchar(50)) AS [Image]
        from SysMenuItems menuItems
        inner join SysRoleMenuItems roleMenuItems
        on  roleMenuItems.MenuItemId = menuItems.MenuItemId
        inner join SysUserRoles userRoles
        on userRoles.RoleId = roleMenuItems.RoleId
        inner join SysMenuItemsMenus menuItemsMenus
        on menuItemsMenus.MenuItemId = menuItems.MenuItemId
        inner join SysMenu menu
        on menu.MenuId = menuItemsMenus.MenuId
        Where userRoles.UserId = @UserId
        AND userRoles.DataAreaId = @DataAreaId
        AND userRoles.Partition = @Partition
       union all
       (
       --select C.MenuId, C.ParentMenuId 
       Select menu.MenuId, menu.Label, CAST(NULL AS nvarchar(120)), menu.ParentMenuId, menu.ModuleId, null,
        menu.Sequence, null, null, null, menu.[Image]
       from SysMenu menu
       join menu_tree p
       on menu.MenuId = P.ParentId
       AND (menu.MenuId <> menu.ParentMenuId OR menu.ParentMenuId is Null)
       AND (p.Visible = 1 OR p.Visible is null)
       )
)
    select DISTINCT * from menu_tree
    ORDER BY menu_tree.Sequence ASC
    OPTION (MAXRECURSION 100)
	
END
GO
/****** Object:  StoredProcedure [dbo].[SysUserQuickLink_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROcedure [dbo].[SysUserQuickLink_Create]
(
 @UserId nvarchar(8) = NULL,
 @MenuItemId nvarchar(50)= NULL,
 @DataAreaId nvarchar(4) = NULL,
 @Partition bigint = NULL,
 @ModifiedBy nvarchar (8) = NULL,
 @CreatedBy nvarchar (8) = NULL,
 @RecId bigint = Null
) 
-- WITH ENCRYPTION
As
 Begin
	IF NOT EXISTS(SELECT MenuItemId FROM SysUserQuickLinks WHERE UserId = @UserId AND DataAreaId = @DataAreaId AND Partition = @Partition AND MenuItemId = @MenuItemId)
	BEGIN
	SET NOCOUNT ON;
		 Insert into [dbo].[SysUserQuickLinks] ([UserId],[DataAreaId],[Partition],[MenuItemId],
		 [RECVERSION], [MODIFIEDDATETIME], [MODIFIEDBY], [CREATEDDATETIME], [CREATEDBY])

		 Values(@UserId,@DataAreaId,@Partition,@MenuItemId,
		 1, GETDATE(), @ModifiedBy, GETDATE(), @CreatedBy)

	 SELECT SCOPE_IDENTITY();
	 END
 End










GO
/****** Object:  StoredProcedure [dbo].[SysUserQuickLink_Delete]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROc [dbo].[SysUserQuickLink_Delete]
@UserId nvarchar(8),
@MenuItemId nvarchar (50),
@DataAreaId nvarchar (4),
@Partition bigint
-- WITH ENCRYPTION
AS

DELETE FROM SysUserQuickLinks

WHERE
 
[UserId]= @UserId
AND
[MenuItemId] = @MenuItemId
AND
[DATAAREAID]= @DataAreaId
AND
[PARTITION]= @Partition









GO
/****** Object:  StoredProcedure [dbo].[SysUserQuickLinks_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROc [dbo].[SysUserQuickLinks_Retrieve](
@UserId nvarchar(8),
@DataAreaId nvarchar(4) = NULL,
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
	SELECT MenuItemId, UserId
	FROM SysUserQuickLinks
	WHERE UserId = @UserId
	AND DataAreaId = @DataAreaId
	AND Partition = @Partition
END
GO
/****** Object:  StoredProcedure [dbo].[SysUserRecentActivities_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SysUserRecentActivities_Retrieve]
@UserId nvarchar(8) = Null,
@DataAreaId nvarchar(50) = Null,
@Partition bigint = NULL
-- WITH ENCRYPTION
AS
BEGIN
	SELECT TOP(5) auditTrails.ActionItem as title, userAuditTrails.ActionDateTime as time, userAuditTrails.ActionMessage as message
	FROM SysAuditTrails as auditTrails
	INNER JOIN SysUserAuditTrails as userAuditTrails
	ON auditTrails.RecId = userAuditTrails.RefRecId
	WHERE
	auditTrails.DataAreaId = @DataAreaId AND auditTrails.Partition = @Partition AND
	userAuditTrails.UserId = @UserId AND userAuditTrails.ActionType = 'Create' AND userAuditTrails.ActionResult = 1
	order by userAuditTrails.ActionDateTime desc
END

GO
/****** Object:  StoredProcedure [dbo].[SysUserRecentMenuItems_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCedure [dbo].[SysUserRecentMenuItems_Create]
(
@UserId bigint = Null,
@MenuItemId nvarchar (50) = Null,
@VisitDateTime datetime = Null,
@DataAreaId nvarchar(4) = NULL,
@ModifiedBy nvarchar(8) =NULL,
@CreatedBy nvarchar(8) = NULL,
@RecVersion int =NULL,
@Partition bigint = NULL,
@RecId bigint = NULL
) 
-- WITH ENCRYPTION
As
Begin
Insert into [dbo].[SysUserRecentMenuItems]([UserId],[MenuItemId],[VisitDateTime],
[DataAreaId],[ModifiedDateTime], [ModifiedBy],[CreatedDateTime],[CreatedBy],[RecVersion],[Partition])
Values(@UserId,@MenuItemId,@VisitDateTime,
@DataAreaId,GETDATE(), @ModifiedBy,GETDATE(),@CreatedBy, @RecVersion,@Partition)

End


GO
/****** Object:  StoredProcedure [dbo].[SysUserRecentMenuItems_CreateOrUpdate]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROcedure [dbo].[SysUserRecentMenuItems_CreateOrUpdate]
(
	 @UserId bigint = NULL,
	 @MenuItemId nvarchar(50)= NULL,
	 @VisitDateTime datetime = NULL,
	 @RecVersion int = NULL,
	 @ModifiedDateTime datetime = NULL,
	 @ModifiedBy nvarchar (8) = NULL,
	 @CreatedDateTime datetime = NULL,
	 @CreatedBy nvarchar (8) = NULL,
	 @DataAreaId nvarchar (4) = NULL,
	 @Partition bigint = NULL,	
	 @RecId bigint = Null
)
-- WITH ENCRYPTION
as begin
	IF @MenuItemId IS NOT NULL AND @UserId IS NOT NULL
		begin
			declare @CountConfigId INT;

			Select  @CountConfigId = COUNT(MenuItemId) from [SysUserRecentMenuItems]
				where DataAreaId	=	@DataAreaId
				AND   UserId		=	@UserId
				AND	  Partition	    =   @Partition;

			if (NOT EXISTS(SELECT MenuItemId FROM [SysUserRecentMenuItems] 
				      WHERE MenuItemId = @MenuItemId 
					  AND   DataAreaId	=	@DataAreaId
					  AND   UserId		=	@UserId
					  AND	Partition   =   @Partition) AND @CountConfigId < 5)
			---CREATENEW
			begin
			 
			 Insert into [SysUserRecentMenuItems]
			 ([UserId],[MenuItemId],[VisitDateTime],
			 [RecVersion],[ModifiedDateTime],[ModifiedBy], [CreatedDateTime],[CreatedBy],[DataAreaId],[Partition])

			 Values
			 (@UserId,@MenuItemId,@VisitDateTime,
			 @RecVersion,@ModifiedDateTime,@ModifiedBy,@CreatedDateTime,@CreatedBy,@DataAreaId,@Partition)
			
			end

			else IF (EXISTS(SELECT MenuItemId FROM [SysUserRecentMenuItems] 
				      WHERE MenuItemId    =   @MenuItemId 
					  AND   DataAreaId	=	@DataAreaId
					  AND   UserId		=	@UserId
					  AND	Partition   =   @Partition) AND @CountConfigId <= 5 )
			------UPDATE PREVIOUS
			begin
			UPDATE [SysUserRecentMenuItems]
			SET
			    VisitDateTime	  =	@VisitDateTime,
				ModifiedDateTime  = @ModifiedDateTime,
				ModifiedBy		  = @ModifiedBy
					where UserId	  = @UserId
						AND   DataAreaId  = @DataAreaId
						AND   Partition   = @Partition
						AND    MenuItemId = @MenuItemId

			end
			
			else
			
			-----Update Last one
			if(@CountConfigId = 5)
			begin
				UPDATE [SysUserRecentMenuItems]
				SET
					VisitDateTime	  =	@VisitDateTime,
					ModifiedDateTime  = @ModifiedDateTime,
					ModifiedBy		  = @ModifiedBy,
					MenuItemId		  = @MenuItemId

						where     UserId      = @UserId
							AND   DataAreaId  = @DataAreaId
							AND   Partition   = @Partition
						    AND	  RecId in (SELECT TOP (1) RecId 
							      FROM SysUserRecentMenuItems
								  where UserId      = @UserId
								  AND   DataAreaId  = @DataAreaId
								  AND   Partition   = @Partition
							      ORDER BY VisitDateTime Asc);
														
				--   order by VisitDateTime asc limit 1
			end

		end

	end


--if(count <=5 && not exist)
--{
--	//create
--}
--else if(count <=5 && exist)
--{
-- //update previous VisitDatetime
--}






GO
/****** Object:  StoredProcedure [dbo].[SysUserRecentMenuItems_Delete]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROC [dbo].[SysUserRecentMenuItems_Delete]
@RecId bigint
-- WITH ENCRYPTION
AS
DELETE FROM [SysUserRecentMenuItems]
WHERE
[RECID]= @RecId



GO
/****** Object:  StoredProcedure [dbo].[SysUserRecentMenuItems_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROc [dbo].[SysUserRecentMenuItems_Retrieve](
@UserId nvarchar(8),
@DataAreaId nvarchar(4) = NULL,
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN

select MenuItemId, UserId, VisitDateTime
from SysUserRecentMenuItems
WHERE UserId = @UserId
		AND DataAreaId = @DataAreaId
		AND Partition = @Partition
		ORDER BY VisitDateTime DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SysUserRecentMenuItems_Update]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SysUserRecentMenuItems_Update]
		@UserId bigint = Null,
		@MenuItemId nvarchar (50) = Null,
		@VisitDateTime datetime = Null,
		@ConfigLabel nvarchar (50) = Null,
		@ConfigType nvarchar (20) = Null,
		@ModifiedBy nvarchar (8) = NULL,
		@RecId bigint = Null
-- WITH ENCRYPTION
AS
BEGIN 
		SET NOCOUNT OFF 
		UPDATE [dbo].[SysUserRecentMenuItems]
		SET 
		[UserId] = @UserId,
		[MenuItemId] = @MenuItemId,
		[VisitDateTime] = @VisitDateTime,
		[ModifiedDateTime]= GETDATE(),
		[MODIFIEDBY] = @MODIFIEDBY,

		[RecVersion]  = [RecVersion] +1
		
		
		FROM   [dbo].[SysUserRecentMenuItems]
		WHERE  
		[RecId] = @RecId 


END



GO
/****** Object:  StoredProcedure [dbo].[SysUserRoles_Create]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCedure [dbo].[SysUserRoles_Create]
(
 @UserId nvarchar(8) = Null,
 @RoleId nvarchar(50) = NULL,
 @LicenseType int = NULL,
 @DataAreaId nvarchar(4) = NULL,
 @RecVersion int = NULL,
 @Partition bigint = NULL, 
 @ModifiedBy nvarchar (8) = NULL,
 @CreatedBy nvarchar (8) = NULL,
 @RecId bigint = Null
)
-- WITH ENCRYPTION 
As
Begin
	SET NOCOUNT ON;
Insert into SysUserRoles ([UserId], [RoleId], [LicenseType],
							[DataAreaId],[RecVersion],[PARTITION], [MODIFIEDDATETIME], [MODIFIEDBY], [CREATEDDATETIME], [CREATEDBY])
Values(@UserId, @RoleId, @LicenseType,
	 @DataAreaId, @RecVersion, @Partition, GETDATE(), @ModifiedBy, GETDATE(), @CreatedBy)
	SELECT SCOPE_IDENTITY();

End




GO
/****** Object:  StoredProcedure [dbo].[SysUserRoles_Delete]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROC [dbo].[SysUserRoles_Delete]
@RecId bigint
-- WITH ENCRYPTION
AS
DELETE FROM SysUserRoles
WHERE
[RECID]= @RecId





GO
/****** Object:  StoredProcedure [dbo].[SysUserRoles_Retrieve]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROc [dbo].[SysUserRoles_Retrieve](
@UserId nvarchar(8),
@DataAreaId nvarchar(4),
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN


SELECT UserId, RoleId, LicenseType, DataAreaId, Partition, RecId FROM SysUserRoles
WHERE 
	UserId = @UserId
AND DataAreaId = @DataAreaId
AND Partition = @Partition


END
GO
/****** Object:  StoredProcedure [dbo].[SysUserRoles_RetrieveAll]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SysUserRoles_RetrieveAll]
(
@DataAreaId nvarchar(4),
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN

SELECT UserId, RoleId, LicenseType, DataAreaId, Partition, RecId FROM SysUserRoles
WHERE 
	DataAreaId = @DataAreaId
AND Partition = @Partition
AND LicenseType = 1

END
GO
/****** Object:  StoredProcedure [dbo].[SysUserRoles_RetrieveByRoleId]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROc [dbo].[SysUserRoles_RetrieveByRoleId](
@RoleId nvarchar(8),
@DataAreaId nvarchar(4),
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN

SELECT UserId, RoleId, LicenseType, DataAreaId, Partition, RecId FROM SysUserRoles
WHERE 
	RoleId = @RoleId
AND DataAreaId = @DataAreaId
AND Partition = @Partition
AND LicenseType = 1

END
GO
/****** Object:  StoredProcedure [dbo].[SysUserRoles_Update]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[SysUserRoles_Update]
		@UserId nvarchar(8) = Null,
		@RoleId nvarchar(50) = NULL,
		@ModifiedBy nvarchar(8) = NULL,
		@RecId bigint = Null
-- WITH ENCRYPTION
AS
BEGIN 
		SET NOCOUNT OFF 
		UPDATE  [dbo].[SysUserRoles]
		SET 
		[UserId]  = @UserId,
		[RoleId]  = @RoleId, 
		[ModifiedDateTime]= GETDATE(),
		[ModifiedBy]= @ModifiedBy,
		[RecVersion]  = [RecVersion] +1
		FROM   [dbo].[SysUserRoles]
		Where 
		[RecId] = @RecId

END 






GO
/****** Object:  StoredProcedure [dbo].[validateUser]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[validateUser]
(
@UserId nvarchar(8),
@Password nvarchar(200)
)
-- WITH ENCRYPTION
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @out_DefaultCompany nvarchar(10) = NULL,	@out_DefaultCompanyName nvarchar(60) = NULL,
			@out_isAuthenticated TinyInt = NULL,		@out_Partition BigInt = NULL,
			@out_EmployeeName  nvarchar(60) = NULL,		@out_Message nvarchar(60) = NULL,
			@out_EmployeeId nvarchar(50) = NULL;
	DECLARE @out_Results TABLE (UserId nvarchar(8), EmployeeId nvarchar(50), EmployeeName nvarchar(60), DefaultCompany nvarchar(10), DefaultCompanyName nvarchar(60), Partition BigInt, isAuthenticated TinyInt, Message nvarchar(60));

	IF @UserId IS NOT NULL
      BEGIN

	  SELECT TOP 1 @out_EmployeeId = EmployeeId, @out_EmployeeName = UserName, @out_Partition = Partition, @out_DefaultCompany = DefaultCompany
	  FROM SysUserInfo WHERE UserId = @UserId;

	  --SELECT TOP 1 @out_EmployeeName = EmployeeName
	  --From PREmploymentInformation WHERE EmployeeId= @out_EmployeeId;

		IF (@out_Partition IS NOT NULL) --EXISTS()
		BEGIN
		DECLARE @AttemptDifference Int,			@TotalAttempts Int = 0,
				@LastLoginRequest DATETIME,		@CurrentLoginRequest DATETIME = GETDATE();
		--SELECT TOP 1 @out_DefaultCompany = b.DataAreaId, @LastLoginRequest = a.LastLoginRequest, @TotalAttempts = a.LastLoginAttempts FROM Users a
		--	inner join UserCompanies b
		--	on a.UserId = b.UserId
		--	WHERE a.UserId = @UserId
		--	AND a.Partition = @Partition
		--	AND b.DefaultCompany = 1
		IF @out_DefaultCompany IS NULL
			BEGIN
			SELECT TOP 1 @out_DefaultCompany = companyInfo.DataAreaId, @out_DefaultCompanyName = companyInfo.FullName
			--@LastLoginRequest = a.LastLoginRequest, @TotalAttempts = a.LastLoginAttempts
			FROM SysUserInfo userInfo
			inner join SysUserCompanies userCompanies
			on userInfo.UserId = userCompanies.UserId
			AND userInfo.Partition = userCompanies.Partition
			inner join SysCompanyInfo companyInfo
			on companyInfo.DataAreaId = userCompanies.DataAreaId
			AND companyInfo.Partition = userCompanies.Partition
			WHERE userInfo.UserId = @UserId
			AND userInfo.Partition = @out_Partition
			END
		IF @out_DefaultCompany IS NOT NULL
		BEGIN
				IF @TotalAttempts < 5
				BEGIN
					IF EXISTS(SELECT UserId FROM SysUserInfo WHERE UserId = @UserId AND Partition = @out_Partition AND Status = 1)
					BEGIN
						IF EXISTS(SELECT UserId FROM SysUserInfo WHERE UserId = @UserId AND Partition = @out_Partition AND Password = @Password COLLATE SQL_Latin1_General_CP1_CS_AS)
						BEGIN
							--Select @isAuthenticated = 1
							--SELECT '1-' + @out_DefaultCompany -- User is Authenticated & Activated.
							SET @out_isAuthenticated = 1; SET @out_Message = 'User Authentication Success'
						END
						ELSE
						BEGIN
							SET @out_isAuthenticated = 2; SET @out_Message = 'Password Not Correct' --SELECT 2 -- User Password Not Correct.
						END
					END
					ELSE
					BEGIN
						SET @out_isAuthenticated = 3; SET @out_Message = 'User is disabled' --SELECT 3 -- User not activated.
					END
				END
				ELSE
				BEGIN
				SET @out_isAuthenticated = 4; SET @out_Message = 'User Locked' --SELECT 4 -- User Locked.User Locked - Please try again after 10mins
				END
		------------------
			-- if(@out_isAuthenticated = 0)
			-- BEGIN
			--IF @LastLoginRequest IS NOT NULL
			-- BEGIN
			--	SELECT @AttemptDifference = DATEDIFF(MINUTE, @LastLoginRequest, @CurrentLoginRequest)
			--	IF @AttemptDifference < 10
			--	BEGIN
			--		UPDATE Users 
			--		SET LastLoginRequest = GETDATE(),
			--		LastLoginAttempts = LastLoginAttempts + 1
			--		WHERE UserId = @UserId AND Partition = @Partition
			--	END
			--	ELSE
			--	BEGIN
			--		UPDATE Users 
			--		SET LastLoginRequest = GETDATE(),
			--		LastLoginAttempts = 0
			--		WHERE UserId = @UserId AND Partition = @Partition
			--	END
			-- END
		--       ELSE
		--       BEGIN
		--             UPDATE Users 
			--	SET LastLoginRequest = GETDATE(),
			--	LastLoginAttempts = LastLoginAttempts + 1
			--	 WHERE UserId = @UserId AND Partition = @Partition
		--       END
			-- END
			-- ELSE
			-- BEGIN
			--UPDATE Users 
			--SET LastLoginRequest = GETDATE(),
			--LastLoginAttempts = 0
			--WHERE UserId = @UserId AND Partition = @Partition
			-- END
		------------------
		END
		ELSE
			BEGIN
				SET @out_isAuthenticated = 5; SET @out_Message = 'User have no valid Company'--'User NOT Exists In Any Company'
			END
		END	  
		ELSE
		BEGIN
			SET @out_isAuthenticated = 0; SET @out_Message = 'Invalid User' --SELECT 0 -- User Invalid
		END

	END

	INSERT into @out_Results values(@UserId, @out_EmployeeId, @out_EmployeeName, @out_DefaultCompany, @out_DefaultCompanyName, @out_Partition, @out_isAuthenticated, @out_Message);
	SELECT * FROM @out_Results
END

GO
/****** Object:  StoredProcedure [dbo].[validateUserRoleMenuItems]    Script Date: 4/20/2021 4:22:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[validateUserRoleMenuItems](
@UserId nvarchar(8) = NULL,
@MenuItemId nvarchar(50) = NULL,
@DataAreaId nvarchar(10) = NULL,
@Partition bigint = NULL
)
-- WITH ENCRYPTION
AS
BEGIN
    SELECT menuItems.MenuItemId, menuItems.Label, menuItems.Object, menuItems.Type, menuItems.Sequence,
    menuItems.Visible, roleMenuItems.AccessLevel
    From SysMenuItems menuItems
    inner join SysRoleMenuItems roleMenuItems
    on  roleMenuItems.MenuItemId = menuItems.MenuItemId
    inner join SysUserRoles userRoles
    on userRoles.RoleId = roleMenuItems.RoleId

    AND roleMenuItems.Partition = userRoles.Partition
    AND roleMenuItems.DataAreaId = userRoles.DataAreaId

    WHERE userRoles.UserId = @UserId
    AND roleMenuItems.MenuItemId = @MenuItemId
    AND userRoles.DataAreaId = @DataAreaId
    AND userRoles.Partition = @Partition

    ORDER BY menuItems.MenuItemId ASC
END
GO
