<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />

<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
    xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <KeyName>Rsa Key</KeyName>
        </KeyInfo>
        <CipherData>
          <CipherValue>KtvY5r2ANGA2BdRZHQfOTK/9gBBcDuzDLLjSlmlnkY8FxkG72pOGYqcZj+uXx6fHL97FyAxhllliAxS4vZYRqdX/cSGEJPP2r4G1db+67yIS00W8BYWvNIv/TMCRHZdTnreDwek/sJrZOvEKNl/ee90sdSfiu/wjevlRS3e7wmpaepFeqOCO/WXH+OZANNIptdW4eOHUlkO9F7RRkMaofi9CfrE0z9FM+ZSTJeqNLElB2Cw36UmCvIHZpqiC+cs8lQJZBXRnbSpANoP7sfvCsvX3y/Sl+p10rB9ekbdrsc74HVIMSaKrTw0Dha7+VUvJmOTINGQbRMCPxHphWSGbnw==</CipherValue>
        </CipherData>
      </EncryptedKey>
    </KeyInfo>
    <CipherData>
      <CipherValue>+SH62h44VdBDn+Uoo4wq/bF/RwYLPV6aK+u2sMcU2P1qipnkPy/pAhqL4ftm2q759VJBg+kTZcvKwKuMPw5NXFSUQIHKqsHWJOSsmZTo5ShEEF6djWxg6mJcxM0Lc2hRbi7GBKu4VVGFBJVrIPkUg+mSXpoArCKMx4tu5nHcq2psZGE/rGeKBTaAXAIUks5bUBUrmbAGY+bNho+g1e8ZaLgb5YChJAr0/vrQtq1lCPKhY94EsDIWBFrSRDBVjPihapU0HeBNW/hegwcS2+1IXpdmdgTCa3ckEcfQvYyBFdqwqfsY6+NSjDV6+NyrcsnzuKEuJNdE28HVJtuEmfbo8xIPW4Hn+H0u3QS3ocTXBDgx58IWv6534Q==</CipherValue>
    </CipherData>
  </EncryptedData>
</connectionStrings>

  <system.web>
    <trace enabled="false" mostRecent="true" localOnly="true" />
    <pages maintainScrollPositionOnPostBack="true" enableViewStateMac="true" viewStateEncryptionMode="Always" />
    <!--
     enableEventValidation="true" enableSessionState="true"
     <compilation debug="false">
    -->
    <compilation debug="false" targetFramework="4.6.1" />
    <httpCookies httpOnlyCookies="true" />
    <customErrors mode="On" defaultRedirect="~/ErrorPages/CustomErrorPage.aspx">
      <error statusCode="400" redirect="~/ErrorPages/400.aspx" />
      <error statusCode="401" redirect="~/ErrorPages/401.aspx" />
      <error statusCode="403" redirect="~/ErrorPages/403.aspx" />
      <error statusCode="404" redirect="~/ErrorPages/404.aspx" />
      <error statusCode="500" redirect="~/ErrorPages/500.aspx" />
      <error statusCode="503" redirect="~/ErrorPages/503.aspx" />
      <error statusCode="508" redirect="~/ErrorPages/508.aspx" />
      <error statusCode="511" redirect="~/ErrorPages/511.aspx" />
    </customErrors>
    <sessionState mode="StateServer" cookieless="UseCookies" timeout="20" />
    <!--<httpRuntime maxRequestLength="40000000" useFullyQualifiedRedirectUrl="true" executionTimeout="600000" />-->
    <!--<httpCookies domain="String" httpOnlyCookies="true" requireSSL="true" /> /ESS/Dashboard.aspx-->
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Administration/UserLogin.aspx" slidingExpiration="true" timeout="20" />
    </authentication>
    <!--    <authorization>
      <deny users ="?" />
      <allow users = "*" />
    </authorization>

    <httpRuntime enableVersionHeader="false" />
    <pages enableViewStateMac="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </controls>
    </pages>
    -->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" subStatusCode="-1" />
      <error statusCode="400" responseMode="ExecuteURL" path="/ErrorPages/400.aspx" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" responseMode="ExecuteURL" path="/ErrorPages/401.aspx" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" responseMode="ExecuteURL" path="/ErrorPages/403.aspx" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" responseMode="ExecuteURL" path="/ErrorPages/404.aspx" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" responseMode="ExecuteURL" path="/ErrorPages/500.aspx" />
      <remove statusCode="503" subStatusCode="-1" />
      <error statusCode="503" responseMode="ExecuteURL" path="/ErrorPages/503.aspx" />
      <remove statusCode="508" subStatusCode="-1" />
      <error statusCode="508" responseMode="ExecuteURL" path="/ErrorPages/508.aspx" />
      <remove statusCode="511" subStatusCode="-1" />
      <error statusCode="511" responseMode="ExecuteURL" path="/ErrorPages/511.aspx" />
    </httpErrors>-->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
  </system.webServer>
</configuration>
<!--ProjectGuid: 5A4644D3-517C-4A81-A3AE-8B9B3AAED969-->