.vs/

/DataAccess/obj/Debug/build.force
/DataAccess/obj/Debug/DataAccess.csproj.AssemblyReference.cache
/DataAccess/obj/Release/DataAccess.csproj.AssemblyReference.cache
/DynamicsPortal/obj/Debug/build.force
/DynamicsPortal/obj/Debug/DynamicsPortal.csproj.AssemblyReference.cache
/BussinessLogic/obj/Release/BussinessLogic.csproj.AssemblyReference.cache

/BussinessLogic/bin/Debug
/BussinessLogic/bin/Release/BussinessLogic.dll
/BussinessLogic/obj/Release/BussinessLogic.csproj.AssemblyReference.cache
/BussinessLogic/obj/Debug/BussinessLogic.csproj.AssemblyReference.cache
/BussinessLogic/obj/
/AuthenticationHelper/bin/
/BussinessObject/obj/
/DynamicsPortal/bin/
/DynamicsPortal/obj/
/GeneralAuziliary/obj/
/PortalIntegration/bin/
/PortalIntegration/obj/
/AuthenticationHelper/obj/
/GeneralAuziliary/obj/

/GeneralAuxiliary/obj/Release/GeneralAuxiliary.csproj.AssemblyReference.cache
/PortalIntegration/PortalIntegration.csproj
/DynamicsPortal/Web.config
/PortalIntegration/app.config
/DynamicsPortal/DynamicsPortal.csproj.user
/PortalIntegration/app.config
/PortalIntegration/PortalIntegration.csproj
/PortalIntegration/Connected Services/TransferOrderLinesSvcReference/configuration.svcinfo
/PortalIntegration/Connected Services/TransferOrderLinesSvcReference/configuration91.svcinfo
/PortalIntegration/Connected Services/TransferOrderLinesSvcReference/PortalIntegration.TransferOrderLinesSvcReference.updateRecordResponse.datasource
/PortalIntegration/Connected Services/TransferOrderLinesSvcReference/TransferOrderLinesSvcGroup2.wsdl
/PortalIntegration/Connected Services/TransferOrderLinesSvcReference/TransferOrderLinesSvcGroup71.xsd
/DynamicsPortal/Logs/ErrorLog.log
/DynamicsPortal/Logs/ErrorLog.log
/BussinessLogic/bin/Release/BussinessLogic.pdb
/BussinessLogic/bin/Release/BussinessObject.dll
/BussinessLogic/bin/Release/BussinessObject.pdb
/BussinessLogic/bin/Release/DataAccess.dll
/BussinessLogic/bin/Release/DataAccess.pdb
/BussinessLogic/bin/Release/GeneralAuxiliary.dll
/BussinessLogic/bin/Release/GeneralAuxiliary.pdb
/BussinessObject/bin/Release/BussinessObject.dll
/BussinessObject/bin/Release/BussinessObject.pdb
/DataAccess/bin/Release/BussinessObject.dll
/DataAccess/bin/Release/BussinessObject.pdb
/DataAccess/bin/Release/DataAccess.dll
/DataAccess/bin/Release/DataAccess.pdb
/DataAccess/bin/Release/GeneralAuxiliary.dll
/DataAccess/bin/Release/GeneralAuxiliary.pdb
/DataAccess/obj/Release/DataAccess.csproj.CoreCompileInputs.cache
/DataAccess/obj/Release/DataAccess.csproj.FileListAbsolute.txt
/DataAccess/obj/Release/DataAccess.dll
/DataAccess/obj/Release/DataAccess.pdb
/GeneralAuxiliary/bin/Release/BussinessObject.dll
/GeneralAuxiliary/bin/Release/BussinessObject.pdb
/GeneralAuxiliary/bin/Release/GeneralAuxiliary.dll
/GeneralAuxiliary/bin/Release/GeneralAuxiliary.pdb
/GeneralAuxiliary/obj/Release/GeneralAuxiliary.csproj.CoreCompileInputs.cache
/GeneralAuxiliary/obj/Release/GeneralAuxiliary.csproj.FileListAbsolute.txt
/GeneralAuxiliary/obj/Release/GeneralAuxiliary.dll
/GeneralAuxiliary/obj/Release/GeneralAuxiliary.pdb
/DynamicsPortal/Logs/ErrorLog.log
/DynamicsPortal/App_Data/SoapMessages.svclog
/BussinessObject/bin/Debug/BussinessObject.dll
/BussinessObject/bin/Debug/BussinessObject.dll
/BussinessObject/bin/Debug/BussinessObject.pdb
/BussinessObject/bin/Debug/BussinessObject.dll
/BussinessObject/bin/Debug/BussinessObject.pdb
/DataAccess/bin/Debug/BussinessObject.dll
/DataAccess/bin/Debug/BussinessObject.dll
/DataAccess/bin/Debug/BussinessObject.dll
/DataAccess/bin/Debug/DataAccess.pdb
/DataAccess/bin/Debug/DataAccess.dll
/DataAccess/bin/Debug/DataAccess.pdb
/GeneralAuxiliary/bin/Debug/BussinessObject.dll
/DataAccess/bin/Debug/BussinessObject.pdb
/DataAccess/bin/Debug/GeneralAuxiliary.dll
/DataAccess/bin/Debug/GeneralAuxiliary.pdb
